$color-text: #ffffff;
$padding-vertical: 0;
$padding-left: 0;
$padding-right: 10px;
$background-color: #333;
$opacity: 1.0;


$workspaces-color-active: #d35d6e;
$workspaces-color-hover: #ff00dd;
$workspaces-color-text: $color-text;

$color-text-sidestuff: $color-text;
$color-slider: #d35d6e;
$color-slider-background: #4e4e4e;

$power-button-width: 70px;
$power-button-color-border: black;
$power-button-border-radius: 0.5em;
$power-button-margin-inline: 1em;

* {
  all: unset;
}

@mixin bar-button() {
  &:hover {
    background-color: red;
  }
}

.topbar_primary, .topbar_left, .topbar_right {
  background-color: $background-color;
  opacity: $opacity;
  background-size: cover;
  background-position: center;
  color: $color-text;
  padding: $padding-vertical $padding-right $padding-vertical $padding-left;
}

.workspaces {
  color: $workspaces-color-text;

  button {
    padding: 0 1em;
    border-bottom: 3px solid black;

    &.empty {
      padding: 0;
      border: none;
    }
  }

  button.special {
    border-color: $workspaces-color-active;
  }

  button:hover {
    border-color: $workspaces-color-hover;
  }
}

@mixin active-workspace($i) {
  .workspace-#{$i}.activeworkspace-#{$i} {
    border-color: $workspaces-color-active;
  }
}
@for $i from 1 through 9 {
  @include active-workspace($i);
}

.sidestuff {
  color: $color-text-sidestuff;

  slider {
    all: unset;
  }
}

.metric scale trough highlight {
  all: unset;
  background-color: $color-slider;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $color-slider-background;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.power-button {
  min-width: $power-button-width;
  border: 1px solid $power-button-color-border;
  border-radius: $power-button-border-radius;
  margin: 0 $power-button-margin-inline;

  @include bar-button();
}

.label-ram {
  font-size: large;
}

.power_menu {
  padding: 0.3em;
  background-color: black;
  border-radius: 0.5em;

  button {
    border: 1px solid purple;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.1em;
  }
}

.workspace_selector {
  $button-size: 3em;
  $button-border: 1px solid blue;
  $button-border-radius: 5px;
  $button-spacing: 6px;
  $window-border-radius: calc($button-border-radius * 5 / 4);

  * {
    all: unset;
  }

  background-color: black;
  opacity: 0.7;
  border-radius: $window-border-radius;

  button {
    min-width: $button-size;
    min-height: $button-size;
    border: $button-border;
    border-radius: $button-border-radius;
    margin: calc($button-spacing / 2);

    &:hover {
      box-shadow: inset -1px -1px red;
    }
  }
}
